<%= simple_form_for download, html: {:class => 'clearfix'} do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :resource_filename, "Radicaos_Demo.zip" %>

  <div class="control-group <%= 'error' unless download.errors[:captcha].empty? %>">
    <div class="controls">
      <%= recaptcha_tags display: {theme: 'white'} %>
      <span class="help-inline"><%= download.errors[:captcha].first %></span>
    </div>
  </div>

  <%= f.button :submit, 'Download', :class => 'btn btn-primary btn-large pull-right' %>
<% end %>