<div class="page-header" id="thankyou">
  <h1>Muito obrigado por baixar a nossa demo!</h1>
</div>

<div class="row">
  <div class="span4 offset4">
    <div class="well"><%= image_tag 'demo_cover.jpg' %></div>

    <%= form_for @download do |f| %>
      <%= hidden_field_tag :resource_filename, "Radicaos_Demo.zip" %>

      <div class="control-group <%= 'error' unless @download.errors[:captcha].empty? %>">
        <div class="controls">
          <%= recaptcha_tags display: {theme: 'white'} %>
          <span class="help-inline"><%= @download.errors[:captcha].first %></span>
        </div>
      </div>

      <%= f.submit 'Download', class: 'btn btn-danger btn-large btn-block' %>
    <% end %>
  </div>
</div>
