<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
  <head>
    <meta content="<%= I18n.locale.to_s %>" http-equiv="content-language">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="no-cache" http-equiv="cache-control">
    <meta content="text/javascript" http-equiv="content-script-type">
    <meta content="text/css" http-equiv="content-style-type">
    <meta content="no-cache" http-equiv="pragma">
    <meta name="Description" content="Site oficial da banda Radicaos. Rock, funk, hardcore punk, linhas antigas e modernas. Radicaos é uma iniciativa musical
  surgida em Correntina, velho oeste baiano." />
    <meta name="keywords" content="Radicaos, banda, rock, funk, hardcore, punk, alternative rock, víbora rock, Correntina, Bahia, Volmer" />
    <meta name="rating" content="general" />
    <meta name="robots" content="follow" />

    <title>RADICAOS</title>

    <%= favicon_link_tag %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all" %>

    <div id="fb-root"></div>

    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div id="wrap">
      <header>
        <div class="container">
          <h1><%= link_to image_tag('title.png', alt: 'Radicaos'), root_path %></h1>

          <%= render 'layouts/navbar' %>
        </div>
      </header>

      <div id="main">
        <div class="container">
          <%= yield %>
        </div>
      </div>

      <div id="push"></div>
    </div>

    <footer>
      <div class="container">
        <p>&copy; Copyleft Radicaos <%= Time.now.year %></p>
      </div>
    </footer>
  </body>
</html>
